<mat-card>



  <app-form-wrapper-material *ngIf="id"
                             [model]="model"
                             [fields]="fields"
                             [crud]="buildController"
                             [exclude]="['id','progress']"
                             [modelDataConfig]="modelDataConfig"
                             (complete)="complete()">
  </app-form-wrapper-material>
</mat-card>
<br>

<mat-card>
  <mat-tab-group>
    <mat-tab label="Build">
      <br>
      <app-building-process [model]="model"></app-building-process>
    </mat-tab>
    <mat-tab label="Environment">
      <br>
      <p *ngIf="environmentConfig">
        <!-- {{environmentConfig | json}} -->
        <tree-root [nodes]="nodes"
                   #tree
                   [options]="treeOptions">

          <ng-template #treeNodeTemplate
                       let-node
                       let-index="index">
            <span *ngIf="node.data.name !== 'name'">{{ node.data.name }}</span>
            <strong *ngIf="node.data.name !== 'name'">
              <!-- {{ nodeValue(node.data.value) }} -->
              <input  *ngIf="node.data.isSimple" type="{{ node.data.type === 'boolean' ? 'checkbox': 'text' }}"
                     [(ngModel)]="node.data.value" [(checked)]="node.data.value" [disabled]="true"  [style.width.px]="200" >
            </strong>
            <!-- <button (click)="go($event)">Custom Action</button> -->
          </ng-template>
        </tree-root>
        <!-- {{environmentConfig | json}} -->
      </p>
    </mat-tab>
  </mat-tab-group>

</mat-card>
<br>
<mat-card>
  <mat-card-subtitle>Serve</mat-card-subtitle>
  <app-serving-process [model]="model"></app-serving-process>
</mat-card>
