<app-form-wrapper-material *ngIf="id"
                           [(model)]="model"
                           [fields]="fields"
                           [crud]="buildController"
                           [exclude]="['id']"
                           [modelDataConfig]="modelDataConfig"
                           (complete)="complete()">
</app-form-wrapper-material>
<br>

<mat-card style="background: lightgray" >
  <app-building-process [model]="model"
                        (refreshModel)="refreshModel()"></app-building-process>
</mat-card>

<!-- <app-serving-process [model]="model"
                     (refreshModel)="refreshModel()"></app-serving-process> -->
