

h1 {
  margin: 0px;
}

p {
  margin: 0px;
  background: whitesmoke;
  a {
    font-weight: lighter;
  }
}

p[header="normal"]{
  height: 60px;
  a {
    line-height: 60px;
  }
}

p[header="scroll"]{
  height: 40px;
  a {
    line-height: 40px;
  }
}

:host {
  .long {
    height: 500px;
  }
}
