<!-- <mat-card>
  <app-list-wrapper  [crud]="exampleService" [linkSchema]="'./amazing/:id/test/:test'" ></app-list-wrapper>
</mat-card> -->


<mat-card>
  <!-- <span *ngIf="model">model: {{ model | json}}</span> -->
  <!-- <span *ngIf="fields">fields: {{ fields | json}}</span> -->
  <mat-card-title>
    List Wrapper
  </mat-card-title>
  <app-form-wrapper-material *ngIf="model && fields" [(model)]="model"
                             [fields]="fields">

  </app-form-wrapper-material>

</mat-card>
<br>

<!-- <mat-card>
  <mat-card-title>
    List Wrapper
  </mat-card-title>
  <span *ngIf="model2">model2: {{ model2 | json}}</span>
  <br>
  <app-list-wrapper [label]="field.templateOptions.label"
                    [(model)]="model2"
                    [key]="field.key"
                    [required]="field.templateOptions.required"></app-list-wrapper>

</mat-card> -->
