<div #header
     class="header">
  <h1 *ngIf="!is.scroll"
      class="normal">
    <ng-content select="[header=normal]"></ng-content>
  </h1>
  <h1 *ngIf="is.scroll"
      class="scroll">
    <ng-content select="[header=scroll]"></ng-content>
  </h1>
</div>

<div #wrapper
     class="wrapper"
     (DOMMouseScroll)="onMouseWheelFirefox($event)"
     (mousewheel)="onMouseWheel($event)"
     [scrollTop]="css.wrapper.scrollTop"
     [style.height.px]="css.wrapper.height"
     [style.paddingTop.px]="css.wrapper.paddingTop">
  <ng-content class="slider"
              select="[body]"></ng-content>
</div>
