<div #header
     id="header"
     style="display: block;"
     [style.marginTop.px]="(-1)*wrapperPaddingTop">
  <h1 *ngIf="!is.scroll"
      class="normal">
    <ng-content select="[header=normal]"></ng-content>
  </h1>
  <h1 *ngIf="is.scroll"
      class="scroll">
    <ng-content select="[header=scroll]"></ng-content>
  </h1>
</div>

<div #wrapper
     id="wrapper"
     (DOMMouseScroll)="onMouseWheelFirefox($event)"
     (mousewheel)="onMouseWheel($event)">
  <ng-content select="[body]"></ng-content>
</div>
