:host {
    display: block;
    position: relative;
    #header {
        position: fixed;
        width: 100%;
        left: 0px;
        background: white;
        pointer-events: none;
        h1 {
          background: red;
          margin: 0px;
          pointer-events: all;
        }
        .scroll {
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
    #wrapper {
        display: block;
        background: lightgreen;
        height: 600px;
        > div {
          height: 100%;
        }
    }

}
