<div *ngIf="mode === 'view' && multimedia"
     [ngSwitch]="type">
  <div *ngSwitchCase="'picture'">

    <img [src]="multimedia.path">

  </div>
  <div *ngSwitchCase="'video'">

    <video controls>
      <source [src]="multimedia.path"
              type="video/mp4">
      <source [src]="multimedia.path"
              type="video/ogg"> Your browser does not support the video tag.
    </video>

  </div>
  <div *ngSwitchCase="'audio'">

    <audio controls>
      <source [src]="multimedia.path"
              type="audio/ogg">
      <source [src]="multimedia.path"
              type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

  </div>
  <div *ngSwitchDefault>

    unrecognized multimedia
  </div>
</div>


<p *ngIf="mode === 'edit'">

  <button (click)="open()"
          mat-button
          *ngIf="multimedia"> <strong>Change:</strong> {{multimedia.name}} </button>
  <button (click)="open()"
          mat-button
          *ngIf="!multimedia"> <strong>Choose multimedia</strong> </button>

  <ng-template #dialog>
    <dialog-wrapper [dialogRef]="dialog">
      <mat-tab-group (selectedIndexChange)="typeChange($event);">
        <mat-tab label="ALL"></mat-tab>
        <mat-tab label="Picture"></mat-tab>
        <mat-tab label="Audio"></mat-tab>
        <mat-tab label="Video"></mat-tab>
      </mat-tab-group>
      <mat-tab-group (selectedIndexChange)="actionChange($event)">
        <mat-tab label="SELECT">
          <app-multimedia-chooser [(selected)]="selected"
                                  [(selectionType)]="selectionType"
                                  [modelDataConfig]="modelDataConfig"
                                  *ngIf="!isReload"></app-multimedia-chooser>
        </mat-tab>
        <mat-tab label="UPLOAD">
          <!-- <app-multimedia-upload></app-multimedia-upload> -->
        </mat-tab>
      </mat-tab-group>
    </dialog-wrapper>
    <br>
    <button mat-button
            mat-raised-button
            *ngIf="currentAction === 'select'"
            (click)="selectMultimedia()"
            [disabled]="selected.length === 0">Select</button>
    <button mat-icon-button
            *ngIf="currentAction === 'select' && multimedia"
            (click)="removeMultimedia()">
            <mat-icon>delete_forever</mat-icon>
          </button>

  </ng-template>
</p>
