<p *ngIf="mode === 'view'">
  multimedia view mode
</p>
<p *ngIf="mode === 'edit'">
  multimedia edit mode
  <button (click)="open()"> Open upload! </button>

  <ng-template #dialog>
    <dialog-wrapper [dialogRef]="dialog">
      <mat-tab-group (selectedIndexChange)="typeChange($event)">
        <mat-tab label="ALL"></mat-tab>
        <mat-tab label="Picture"></mat-tab>
        <mat-tab label="Audio"></mat-tab>
        <mat-tab label="Video"></mat-tab>
      </mat-tab-group>
      <mat-tab-group>
        <mat-tab label="SELECT">
          <app-multimedia-chooser [modelDataConfig]="modelDataConfig" *ngIf="!isReload" ></app-multimedia-chooser>
        </mat-tab>
        <mat-tab label="UPLOAD">
          <app-multimedia-upload></app-multimedia-upload>
        </mat-tab>
      </mat-tab-group>
    </dialog-wrapper>


  </ng-template>
</p>
