:host {

  .left-panel {
    overflow: auto;
    resize: horizontal;
    padding: 10px;
    min-width: auto !important;
    width: 300px;
  }

  .example-full-width {
    width: 100%;
  };

  .container {
    height: 100%;

    column {
      padding: 5px;
      &.content {
        height: 100%;
        background-color: rgba(0,0,0,.04);
        overflow-y: scroll;
      }
    }

  }

  mat-list {
    mat-list-item {
      outline: none;
        &:hover {
          cursor: pointer;
          background: rgba(0,0,0, .2)
        }
        &.active {
          background: rgba(0,0,0, .08)
        }
        &.disabled {
          pointer-events: none;
          background: inherit;
          opacity: 0.5;
        }
    }
  }

}
