/node_modules
/tmp*
/dist*
/bundle*
/browser
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/environment.js
/environment.dev.js
/environment.prod.js
/environment.stage.js
/environment.online.js
/__environment.js
/__environment.dev.js
/__environment.prod.js
/__environment.stage.js
/__environment.online.js
/!custom/environment.js
/!custom/environment.dev.js
/!custom/environment.prod.js
/!custom/environment.stage.js
/!custom/environment.online.js
/tslint.json
/.editorconfig
