node_modules
tmp*
dist*
bundle*
browser
module
www
Thumbs.db
.DS_Store
npm-debug.log*
.sass-cache
.sourcemaps
environment.d.ts
environment.js
environment.dev.js
environment.prod.js
environment.stage.js
__environment.d.ts
__environment.js
__environment.dev.js
__environment.prod.js
__environment.stage.js
!custom/environment.d.ts
!custom/environment.js
!custom/environment.dev.js
!custom/environment.prod.js
!custom/environment.stage.js
tslint.json
.editorconfig
