<h1>
  <a [routerLink]="'/'"
     class="logo-header-ffm">
    <img class="logo-eiffel-tower"
         [src]="'assets/img/logo/eiffel-tower-in-paris-france.png'">
    <span> French for man's </span>
    <img class="logo-couple-kissing"
         [src]="'assets/img/logo/couple-kissing.png'">
  </a>
  <app-login [showDashboard]="false"></app-login>
</h1>

<columns-container class="middle-content"
                   [style.height.px]="content.height">

  <column [width]="200"
          class="content-left-panel">
    <br>
    <h3 *ngIf="categories && categories.length === 0">
      Ładowanie kategori
    </h3>
    <ul *ngIf="categories && categories.length > 0">
      <li *ngFor="let category of categories"
          (click)="navigateToCategory(category.id)"
          [ngClass]="{'selected': isSelected(category)  }">
        <a href="javascript:void(0)"> {{category.name}} </a>
      </li>
    </ul>

  </column>
  <column grow
          class="content">
    <div *ngIf="selected">
      <ul>
        <li *ngFor="let group of selected.groups"
            (click)="navigateToCategory(selected.id,group.id)">
          {{group.title}}"
        </li>
      </ul>
      <app-dialogs-conversation-editor *ngIf="selectedGroup"
                                       [mode]="'view'"
                                       [(dialogs)]="selectedGroup.dialogs">
      </app-dialogs-conversation-editor>
      <h1 *ngIf="selectedGroup">
        {{selectedGroup.dialogs | json }}
      </h1>
    </div>

  </column>

</columns-container>
<footer>
  &copy; 2018asd
</footer>
