
:host {

  .middle-content {
    background: url('/assets/img/backgrounds/spiration_dark.png')
  }

  @import url('https://fonts.googleapis.com/css?family=Rajdhani');
  .logo-header-ffm {
    &:hover {
      text-decoration: none !important;
    }

    span {
      font-family: 'Rajdhani', sans-serif;
      font-size: 25px;
      text-decoration: none !important;
      color: rgb(37, 35, 35);
    }
    .logo-couple-kissing{
      height: 20px;
      position: relative;
      top: 3px;
    }
    .logo-eiffel-tower {
      height: 35px;
      position: relative;
      left: 13px;
      top: -3px;
    }
  }

  .content-left-panel {
    > ul {
      padding-left: 0px;
      li {
        padding: 20px;
        cursor: pointer;
        background-color: rgba(255,255,255,0);
        &:hover {
          background-color: rgba(255,255,255,0.2)
        }

        a {
          font-family: 'Rajdhani', sans-serif;
          color: white;
          text-decoration: none !important;
          &:hover {
            text-decoration: none !important;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
  }

}
