<h1>
  <a [routerLink]="'/'"
     class="logo-header-ffm">
    <img class="logo-eiffel-tower"
         [src]="'assets/img/logo/eiffel-tower-in-paris-france.png'">
    <span> French for man's </span>
    <img class="logo-couple-kissing"
         [src]="'assets/img/logo/couple-kissing.png'">
  </a>
  <app-login [showDashboard]="false"></app-login>
</h1>

<columns-container class="middle-content"
                   [style.height.px]="content.height">

  <column [width]="200"
          class="content-left-panel">
    <br>
    <h3 *ngIf="categories && categories.length === 0">
      Ładowanie kategori
    </h3>
    <ul *ngIf="categories && categories.length > 0">
      <li *ngFor="let category of categories"
          (click)="navigateToCategory(category.id)"
          [ngClass]="{'selected': isSelected(category)  }">
        <a href="javascript:void(0)"> {{category.name}} </a>
      </li>
    </ul>

  </column>
  <column grow
          class="content">
    <div *ngIf="selected">


      <ul class="tab">
        <li *ngFor="let group of selected.groups" [ngClass]="{'active': (selectedGroup.id === group.id) }"
            (click)="navigateToCategory(selected.id,group.id)">
          <h4>{{group.title}}</h4>

        </li>
      </ul>


      <p class="group-pic">
        <img src="https://images.askmen.com/1080x540/2017/03/28-055100-online_dating_site_zoosk_reveals_the_best_tactics_for_single_guys_to_use.jpg"

             alt="">
      </p>


      <app-dialogs-conversation-editor *ngIf="selectedGroup"
                                       [mode]="'view'"
                                       [(dialogs)]="selectedGroup.dialogs">
      </app-dialogs-conversation-editor>
    </div>
  </column>

</columns-container>
<footer>
  &copy; 2018asd
</footer>
