<br>
<br>
<br>
<columns-container>
  <column grow></column>
  <column [width]="300" class="middle-content" >
    <app-logo></app-logo>
    <br>
    <span>Admin Panel</span>
    <br>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput
               [(ngModel)]="model.username"
               [ngModelOptions]="{standalone: true}"
               placeholder="Username or email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput
               [(ngModel)]="model.password"
               [ngModelOptions]="{standalone: true}"
               placeholder="Password">
      </mat-form-field>
      <br>
      <button type="button"
              mat-raised-button
              (click)="login(model)">Login</button>
    </form>

  </column>
  <column grow></column>
</columns-container>
