:host {

  *,
  *::before,
  *::after {
    box-sizing: content-box !important;
  }



  display: block;
  width: 100%;
  height: 100%;

  .header {
      position: fixed;
      z-index: 1;
      width: 100%;
      left: 0px;
      // background: gray;
      > h1 {
        margin: 0px;
        font-size: 15px;
        position: fixed;
        background: white;
        width: 100%;
        columns-container {
          background: whitesmoke;

          app-logo {
            zoom: 0.8;
            background: whitesmoke;
            height: 100%;
            position: absolute;
          }

        }

        &.normal {
          columns-container {
            height:70px;
            line-height: 70px;
          }
        }
        &.scroll {
          columns-container {
            height:40px;
            line-height: 40px;
            app-logo {
              zoom: 0.6;
            }
          }
        }
      }
  }
  .wrapper {
      display: block;
      overflow: hidden;
      // height is calculated
      > .slider {
        display: block;
        height: 100%;
      }
  }

}
