<ng-template #loader>
  <span (click)="openModal(template)">Login / Register</span>
</ng-template>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="login-component-modal-form">
      <input type="text"
             [(ngModel)]="model.username"
             placeholder="Username or email" />
      <input type="text"
             [(ngModel)]="model.password"
             placeholder="Password" />
      <!-- <button (click)="login(model)"> Login </button>
      <button (click)="info()"> info </button> -->
    </p>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-default"
            (click)="bsModalRef.hide()"> Cancel </button>

    <button type="button"
            class="btn btn-primary"
            (click)="login(model)">Login</button>
  </div>
</ng-template>

<div *ngIf="observable.isLoggedIn | async;else loader; let authOK">
  <a [routerLink]="'/dashboard'">Dashboard </a>
  <span> Logged in as ({{authOK}})</span>
  <span (click)="logout()"> | Logout</span>
  <!-- <span (click)="info()"> info </span> -->

</div>