:host {
  display: block;
  background-color: lightgrey;
  overflow: scroll;
  padding: 2px 2px 20px;
  resize: vertical;

  ul {
    list-style: none;
  }
  color: gray;

  mat-list-item {
    height: 40px;
  }
}
