node_modules
tmp*
dist*
bundle*
browser
module
www
Thumbs.db
.DS_Store
npm-debug.log*
.sass-cache
.sourcemaps
tslint.json
.editorconfig
index.js
index.d.ts
index.js.map
gulpfile.js
ng-package.json
tsconfig-aot.bundle.json
tsconfig-aot.dist.json
src/tsconfig.packages.json
tsconfig.json
src/tsconfig.app.json
src/tsconfig.spec.json
protractor.conf.js
karma.conf.js
