<div *ngIf="selected; else loader">
  <app-project-ui [model]="selected"></app-project-ui>
</div>

<ng-template #loader>
  <br>
  <div *ngIf="projects.length > 0 && !selected" >
    Models ready.. select project
  </div>
  <div *ngIf="projects.length === 0" >
    ...loading models
  </div>

</ng-template>

<ng-template #menu>

  <app-recrusive-menu *ngIf="projects"
                      [items]="projects"
                      [nameProperty]="'genericName'"
                      [filter]="filter"
                      (selected)="selectProject($event)"></app-recrusive-menu>

</ng-template>

<app-errors-notyfications>

</app-errors-notyfications>
