<layout-slider-vertical #mainSlider>

  <p header="normal">
    
    <a href="javascript:void(0)"
       *ngFor="let child of childs"
       [parent]="mainSlider"
       gotoChildVerticalSlider="{{child.id}}">{{child.title}} </a>
    <app-login></app-login>
  </p>

  <p header="scroll">
    <a href="javascript:void(0)"
       *ngFor="let child of childs"
       [parent]="mainSlider"
       gotoChildVerticalSlider="{{child.id}}">{{child.title}} </a>
    <app-login></app-login>
  </p>

  <div body>


    <layout-slider-vertical-child class="horizontal-slider"
                                  [header]="'horizontal-slider'">
      <h1>Main slider</h1>

    </layout-slider-vertical-child>
    <layout-slider-vertical-child class="description"
                                  [header]="'description'">
      <h1>description</h1>
    </layout-slider-vertical-child>
    <layout-slider-vertical-child class="presentation"
                                  [header]="'presentation'">
      <h1>description</h1>
    </layout-slider-vertical-child>
    <layout-slider-vertical-child class="footer"
                                  [header]="'footer'">
      <h1>footer</h1>
    </layout-slider-vertical-child>
  </div>

</layout-slider-vertical>