/node_modules
/tmp*
/dist*
/bundle*
/browser
/browser*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/src
/__src
/!custom/src
/tslint.json
/.editorconfig
/tsconfig.json
/src/typings.d.ts
/src/main.ts
/src/polyfills.ts
/src/tsconfig.app.json
/src/tsconfig.spec.json
/protractor.conf.js
/karma.conf.js
/webpack.config.build.aot.js
/webpack.config.build.js
/webpack.config.common.js
/webpack.config.js
/src/assets/ss-common-ui
