:host {
  display: block;
  overflow: scroll;
  padding: 2px 2px 20px;
  resize: vertical;

  code {
    display: block;
    font-size: 10px;

  }

  span {
    display: block;
    text-align: center;
  }
}
