:host {
  .preview {
    img, button,h6 {
      display: inline-block;
    }
    h6 {
        color: gray;
        font-weight: normal;
        text-decoration: underline;
    }
    > div {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      width: 60px;
    }
  }
}
