<p [attr.disabled]="!process">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{process && process.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{ (process && process.progress && isNumber(process.progress.value)) ? (process.progress.value + '%'): '-'  }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <code>{{process && process.cmd}}</code>
    <app-button-icon [icon]="icon"
                     (action)="action()"
                     [label]="label"></app-button-icon>
    <app-button-icon [icon]="'info'"
                     [label]="''"
                     (dblclick)="reset()"
                     (action)="isOpen = !isOpen"></app-button-icon>
  </mat-expansion-panel>

</p>
<standalone-popup [id]="id"
                  [title]="title"
                  [pinned]="pinned"
                  (close)="onClose()"
                  (pin)="onPin($event)"
                  *ngIf="process && isOpen"
                  [contentComponent]="popupContent"></standalone-popup>

<ng-template #popupContent>
  <mat-tab-group>
    <mat-tab label="Info Messages">

      <app-process-info-message [model]="model"
                                [changes]="changes"></app-process-info-message>

    </mat-tab>
    <mat-tab label="Console Output">
      <div #scrollStdout
           class="wrap-tabs">
        <app-process-console-info [model]="model"
                                  [changes]="changes"></app-process-console-info>
      </div>
    </mat-tab>
    <mat-tab label="Console Errors">
      <div #scrollStder
           class="wrap-tabs">
        <app-process-console-info [model]="model"
                                  [changes]="changes"
                                  outputType="stder" ></app-process-console-info>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
