<div *ngIf="model && model.project">


  <button [disabled]="inProgress"> Self update whole project <strong>{{model.project.name}}</strong> </button>

  <ul *ngIf="model.project.children">
    <li *ngFor="let project of model.project.children">
      <button [disabled]="inProgress"> Self child project <strong>{{project.name}}</strong> </button>
    </li>
  </ul>

  <hr>
  <h5>{{operation}}</h5>

  <mat-progress-bar *ngIf="progress"
                    mode="determinate"
                    value="{{ progress.value }}"> </mat-progress-bar>


  <h5 *ngFor="let error of operationErros"
      style="color:red;">
    {{error}}
  </h5>

</div>
