:host {

  ul {
    list-style: none;
  }

  button {
    strong {
      vertical-align: initial;
    }
  }

  .cloud-childs {
    list-style: none;
    /deep/ .mat-raised-button {
      line-height: 20px;
      margin-bottom: 5px;
      font-size: 80%;
    }
  }


}
