
:host {

    form {
        mat-form-field {
            width: 100%;
        }
    }

    .middle-content {
      text-align: center;
      app-logo {
        display: inline-block;
      }
      span {
        font-size: 10px;
      }
    }



}
