<mat-card>
  <span *ngIf="model1">model1: {{ model1 | json}}</span>
  <mat-card-title>
    Form Wrapper
  </mat-card-title>
  <app-form-wrapper-material [(model)]="model1"
                             [fields]="fields">

  </app-form-wrapper-material>

</mat-card>
<br>

<mat-card>
  <mat-card-title>
    Angular Component
  </mat-card-title>
  <span *ngIf="model2">model2: {{ model2 | json}}</span>
  <br>
  <app-select-wrapper [label]="field.templateOptions.label"
                      [(model)]="model2"
                      [key]="field.key"
                      [required]="field.templateOptions.required"></app-select-wrapper>

</mat-card>
