<mat-card>
  <mat-card-title>
    Form Wrapper
  </mat-card-title>
  <app-form-wrapper-material [(model)]="model"
                             [fields]="fields">

  </app-form-wrapper-material>

</mat-card>
<br>
<span *ngIf="model" >{{ model | json}}</span>
<mat-card>
  <mat-card-title>
    Angular Component
  </mat-card-title>
  <form>
    <app-select-wrapper [label]="'amz from input'" [(model)]="model" [required]="true" ></app-select-wrapper>
    <button type="submit" >submit</button>
  </form>
</mat-card>
