:host {
    
    layout-slider-vertical {
        span[header="normal"] {
            background: whitesmoke;
            > a {
                font-size: 20px;
                padding: 10;
            }
        }
    }
    
}