<div [attr.disabled]="!process">

  <mat-expansion-panel *ngIf="size === 'normal'"
                       [(expanded)]="isExpanded">
    <mat-expansion-panel-header>
      <!-- #region headers-->
      <mat-panel-title>
        {{process && process.name}}
      </mat-panel-title>
      <mat-panel-description [style.color]="color">
        {{ progress }}
      </mat-panel-description>
      <!-- #endregion -->
    </mat-expansion-panel-header>
    <code>
       {{ process.cmd }}
    </code>
    <br>
    <!-- #region buttons normal view-->
    <app-button-icon [icon]="icon"
                     [color]="color"
                     (action)="action()"
                     [label]="label"></app-button-icon>
    <app-button-icon [icon]="'info'"
                     [color]="color"
                     [label]="''"
                     long-press
                     (onLongPressEnd)="onLongPressEnd()"
                     (action)="isOpen = !isOpen"></app-button-icon>
    <!-- #endregion -->
    <span *ngIf="size === 'compact'"
          class="compact">
      <!-- #region buttons compact-->
      <app-button-icon [icon]="icon"
                       [color]="color"
                       (action)="action()"
                       [label]="label"></app-button-icon>
      <app-button-icon [icon]="'info'"
                       [color]="color"
                       [label]="''"
                       (dblclick)="reset()"
                       (action)="openOrClose()"></app-button-icon>
      <!-- #endregion -->
    </span>
    <hr>
    <app-draggable-popup #popup
                         [id]="id"
                         [title]="title"
                         [(pinned)]="isOpenOnStart"
                         [(isOpen)]="isOpen"
                         (onPin)="onPin($event)"
                         *ngIf="process && isOpen">
      <code>{{cmd}}</code>
      <!-- #region tabs-->
      <mat-tab-group>

        <mat-tab label="Messages">

          <app-process-info-message [model]="model"
                                    [changes]="changes"></app-process-info-message>

        </mat-tab>
        <mat-tab label="Console Output">

          <app-process-console-info [model]="model"
                                    [changes]="changes"
                                    outputType="stdout"></app-process-console-info>

        </mat-tab>
        <mat-tab label="Console Errors">
          <app-process-console-info [model]="model"
                                    [changes]="changes"
                                    outputType="stder"></app-process-console-info>

        </mat-tab>
      </mat-tab-group>
      <!-- #endregion -->
    </app-draggable-popup>
  </mat-expansion-panel>
</div>
