<mat-card>

  <app-form-wrapper-material [crud]="groupCRUD"
                             [(model)]="group"
                             (complete)="complete()">
  </app-form-wrapper-material>
</mat-card>
<br>
<mat-card>
  <h4>
    Dialogs
  </h4>
  <mat-slide-toggle (click)="toogleMode()">View mode</mat-slide-toggle>
  <br>
  <br>
  <app-dialogs-conversation-editor *ngIf="group"
                                   [(mode)]="mode"
                                   [(dialogs)]="group.dialogs">
  </app-dialogs-conversation-editor>
  <!-- <app-table-wrapper [allowedColumns]="['id','lang_pl','lang_en','lang_fr']"
                     [crud]="dialogsCRUD"
                     [arrayDataConfig]="arrayDataConfig">
  </app-table-wrapper> -->


</mat-card>
