<mat-card>
  <app-form-wrapper-material *ngIf="id"
                             [id]="id"
                             [model]="model"
                             [crud]="crud"
                             (complete)="complete()">
  </app-form-wrapper-material>

</mat-card>
<br>
<mat-card>
  Groups:
  <br>
  <app-list-wrapper [crud]="GroupsController"
                    [nameProp]="'title'"
                    [queryParams]="queryParamsForGroup"
                    [lockProp]="'isPremium'"
                    [linkSchema]="'/dashboard/course/categories/category/:id/groups/:groupid'">
  </app-list-wrapper>
</mat-card>
