<div class="example-container"
     *ngIf="category">
  <mat-form-field>
    <input matInput
           [(ngModel)]="category.name"
           placeholder="Name">
  </mat-form-field>

</div>


<mat-tab-group *ngIf="category">
  <mat-tab *ngFor="let group of category.groups"
           label="{{group.title}}">


    <div class="example-container">
      <mat-form-field>
        <input matInput
               [(ngModel)]="group.title"
               placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput
                  placeholder="Title"
                  [(ngModel)]="group.description"></textarea>
      </mat-form-field>

    </div>
  </mat-tab>
</mat-tab-group>