:host {
  display: block;
  overflow: scroll;
  padding: 2px 2px 20px;
  resize: vertical;

  code {
    display: block;
  }

  span {
    display: block;
    background: gainsboro;
    text-align: center;
  }
}
