/node_modules
/tnp-system-path.txt
/tmp*
/dist*
/bundle*
/browser
/browser*
/module*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/environment.js
/environment.dev.js
/environment.prod.js
/environment.test.js
/environment.stage.js
/environment.static.js
/environment.online.js
/__environment.js
/__environment.dev.js
/__environment.prod.js
/__environment.test.js
/__environment.stage.js
/__environment.static.js
/__environment.online.js
/!custom/environment.js
/!custom/environment.dev.js
/!custom/environment.prod.js
/!custom/environment.test.js
/!custom/environment.stage.js
/!custom/environment.static.js
/!custom/environment.online.js
/.npmrc
/tslint.json
/.editorconfig
/environment.d.ts
